<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amihealth.amihealth">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".AppConfig.AppInicio"
        android:allowBackup="true"
        android:icon="@drawable/ic_amihealth_v2_02"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AppKey"
            android:value="@string/AMIHEALTH_APP_ID" />

        <activity android:name=".MainActivity" />
        <activity android:name=".Views.MainActivity" />
        <activity
            android:name=".Views.RegistroActivity"
            android:parentActivityName=".Login.View.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Login.View.LoginActivity" />
        </activity>
        <activity
            android:name=".Login.View.LoginActivity"
            android:allowTaskReparenting="true" />
        <activity
            android:name=".ModuloHTA.MedidaHTAListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.Home.HomeActivity" />
        </activity>
        <activity
            android:name=".ModuloHTA.MedidaHTADetailActivity"
            android:label="@string/title_medidahta_detail"
            android:parentActivityName=".ModuloHTA.MedidaHTAListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.ModuloHTA.MedidaHTAListActivity" />
        </activity>
        <activity
            android:name=".ModuloHTA.NuevaMedidaHTA"
            android:parentActivityName=".ModuloHTA.MedidaHTAListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.ModuloHTA.MedidaHTAListActivity" />
        </activity>

        <receiver android:name=".Volley.ObservadordeRed" />

        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModuloHTA.HTAhomeActivity"
            android:parentActivityName=".Home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.Home.HomeActivity" />
        </activity>
        <activity
            android:name=".UserActivity.UserActivity"
            android:parentActivityName=".Home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.Home.HomeActivity" />
        </activity>
        <activity
            android:name=".ModuloHTA.view.fragments.IntroAddMedidas"
            android:parentActivityName=".Home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.Home.HomeActivity" />
        </activity>

        <service
            android:name=".ApiAmIHealth.MyService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ModuloAntropomorficas.Home.MedAntroMainActivity"
            android:label="@string/title_activity_med_antro_main"
            android:parentActivityName=".Home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.Home.HomeActivity" />
        </activity>
        <activity
            android:name=".ModuloAntropomorficas.Home.CinturaMod.CinturaActivity"
            android:label="@string/title_activity_cintura"
            android:parentActivityName=".Home.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.amihealth.amihealth.Home.HomeActivity" />
        </activity>

        <receiver
            android:name=".AppConfig.PusherReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".AppConfig.MyPusherService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".AppConfig.MyPusherIntentService"
            android:exported="false" />

        <activity android:name=".AppConfig.NotificationActivity"></activity>
    </application>

</manifest>